.wrapper {
  display: flex;
  justify-content: space-between;
  .product-item {
    width: 15%;
  }
  img {
    width: 100%;
    height: 150px;
    border: 1px solid #c0c0c0;
    padding: 5px;
  }
  .producr-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  button {
    display: block;
    background-color: #2a5ea5;
    border: 0;
    align-items: center;
    color: white;
  padding: 7px;
    width: 100%;
    border-radius: 6px;
  }
}
.product-info{

  img{
    width: 40%;
    display: block;
    margin: 20px auto;
  }
  p{
    color: #2a5ea5;
    font-size: 20px;
    margin: 10 0;
    text-align: center;
  }
 
}
.spanModal{
  color: red;
  cursor: pointer;
  position:absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}